html {
  overflow: auto !important;
}

body,
.rex-page {
  min-height: initial !important;
  height: auto !important;
}

.rex-nav-top,
.rex-page-header,
.btn-toolbar .btn-apply,
.panel-heading,
.alert-info {
  display: none !important;
}

.panel-body {
  padding-bottom: 0 !important;
}

.rex-page-container {
  padding-top: 0 !important;
}

.panel-edit {
  border: 0 !important;
  margin-bottom: 0 !important;
}

.rex-page-main,
.rex-page-main-inner {
  padding: 0 !important;
}

.control-label {
  font-size: 1.2rem !important;
}

.form-group {
  margin-bottom: 5px !important;
}

.panel-body {
  padding: 10px 15px !important;
}

.panel-body .rex-form-panel-footer {
  padding: 5px 10px !important;
}

.yqu-ignore {
  display: none;
}
